.single-view {
	border:1px solid #ddd;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.single-view-image img {
	height: 280px;
	width:100%;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.single-view:hover> .single-view-image img  {
	opacity:.8;
}
.single-view:hover{
	box-shadow: none;
}
.single-view-content {
	padding: 15px; 
}
.single-view-content h4 {
	margin-bottom: 0px;
	color: #000;
}  